.conteiner{
    width: 60%;
    height: 500px;
    background-color: white;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    flex-grow: initial;
    
}

.hijoA{
    background-color: red;
    width: 10%;
    height: 100px;
    margin: 30px;
    padding: 20px;
    
}

.hijoB{
    background-color: blue;
    width: 5%;
    height: 60%;
    margin: 30px;
    padding: 20px;
}

.hijoC{
    background-color: red;
    width: 40%;
    height: 100px;
    margin: 30px;
    padding: 20px;
}
.hijoD{
    background-color: red;
    width: 20%;
    height: 100px;
    margin: 30px;
    padding: 20px;
}
